tr:nth-child(3),
tr:nth-child(6) {
    margin-bottom: 1 auto;
    border-bottom: 2px solid white;
}

td:nth-child(3),
td:nth-child(6) {
    margin-right: 1 auto;
    border-right: 2px solid white;
}

table {
    border-collapse: collapse;
}